{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="">
    <div class="">
        <img src="{% static 'img/banner/annapurna.jpeg' %}" alt="" height=100% width=100%>
        <!-- <h3>Saintmartine Iceland</h3>
        <p>Pixel perfect design with awesome contents</p> -->
    </div>
</div>

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9">
                <div class="destination_info">
                    <h3>Trek to Annapurna</h3>
                    <p> Annapurna Base Camp trek is possibly the most spectacular trekking trails of the world because it entices roughly 70,000 trekkers annually with its combination of natural and cultural highlights. Sitting at the altitude of 4,130m (13,549 ft), our journey to the base camp of Mt. Annapurna I - the destination of Annapurna Base Camp Trek - exposes us to a rich variety of natural sceneries with the precious chance to comprehend the rich cultural lives of the ethnic Gurung and Magar villages.
                    </p>
                    <p>
                        During the 13 days trekking in Annapurna Base Camp, not only will you explore the foot of the 10th tallest mountain in the world (Annapurna I is 8,091m/26,545ft tall), but also experience the culture that thrives in the picturesque setting of the Annapurna massif. This trek takes you to a tour of a living cultural museum that together with the Himalayan vistas. The trail passes through quaint villages, subtropical forests and rice terraces. Gradually ascend the mountain, the ABC trek features famous Himalayan mountains, including Dolpo, Dhaulagiri, Machhaapuchhre, Gangapurna and Annapurna I and III. Another highlight of the trip is the sunrise at the camp. There is no better way to wake up than the splendid view of sun rays painting the Himalayan peaks. It is no surprise that trekkers who trek the Annapurna region come back again and again to trek its wonderful trails.
                    </p>
                    <div class="single_destination">
                        <h4>Day 1: Welcome to Nepal ,Kathmandu - Beautiful journey begins here 
                        </h4>
                        <p>Namaste! Upon your arrival we welcome you at the international airport and transfer you to our hotel. Once you’re settled (relaxed and freshened up), we will take you to an authentic Nepali dinner. We can get to know each other better on the dining table while enjoying tasty food, and to set clear expectations for each other regarding the rest of our days. This will also give you a more in-depth understanding on the upcoming trek. 
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 02: Drive from Kathmandu to Pokhara 
                        </h4>
                        <p>Early morning drive through the beautiful Nepalese countryside to reach Pokhara. You can have the chance to experience the serenity of the less traveled places in Nepal, and to have a glimpse of the quaint villages along the way. Pokhara is a scenic and leisure hub where you can sit back and enjoy yourself beside the beautiful Fewa lake.  Enjoy your own time after the long ride and rest overnight at the hotel. 
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 03: Drive from Pokhara to Nayapul, and trek to Tikhedhunga (1577m) </h4>
                        <p>Today after breakfast, we will meet and greet the porter and guide team, who will fully support and assist us throughout the trek. Then, we will leave the leisure city Pokhara, driving 1 hour to Nayapul - the starting point of our trek. Nayapul is a small town filled with shops selling trekking equipment. You may do your last-minute shopping here, for our trek will start right afterwards. Trekking for 1 hour, we reach Birethanti, a small village at the foot of Modi Khola Valley. After crossing some suspension bridges and climbing a relative amount of steps, we reach Tikhedhunga. The trek for today is approximately 4 hours. Rest overnight at the teahouse of Tikhedhunga.
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 4 : Trek from Tikhedhunga to Ghorepani (2850m) </h4>
                        <p>Today after breakfast, we prepared for the moderately demanding uphill trek, starting with the steep and timely ascend on the stone steps to Ulleri village. Although a bit challenging, today’s trek includes the amazing natural scenery and the Himalayan paronomia. Traveling through the breathtaking rhododendron and oak forests, the sublimation nature offers will give you the strength to climb up these steps and immerse you to keep going on. After 7 hours of walking with several breaks in between, we reached Ghorepani. Take a rest at the teahouse and enjoy the fantastic views of Dhaulagiri and Annapurna Himalayan range.   
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 5: Poon Hill Hike (3210m) and trek to Tadapani (2540m)</h4>
                        <p>Before dawn, we start hiking for 40 minutes up to Poon hill (3210m/10530ft) for the splendid sunrise. As one of the highlights of our trek, Poon Hill offers the promise of stunning natural scenery of the rhododendron forest, followed by the unobstructed sunrise over the high Himalayas and the panoramia from the far western Himalaya of Dolpo, Mt. Dhaulagiri, Annapurna including Mt. Machhapuchhre (Fish Tail) and all the way to Manasalu. After that, we go back to Ghorepani for breakfast and continue the trek to Tadapani.
                        </p>
                    </div>
                </div>
                <div class="bordered_1px"></div>
                <div class="contact_join">
                    <h3>Contact us for package booking </h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Phone no.">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Address">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single_input">
                                    <textarea name="" id="" cols="30" rows="10"placeholder="Message" ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="submit_btn">
                                    <button class="boxed-btn4" type="submit">submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>More Places</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for booking in bookings %}
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="{{ booking.package.image_url }}" alt="" height="200" width="300">
                        <a href="#" class="prise">NRs. {{ booking.package.price }}</a>
                    </div>
                    <div class="place_info">
                        <a href="{{ booking.package.package_name_alias }}.html"><h3>{{  booking.destination  }}</h3></a>
                        <!-- <p>United State of America</p> -->
                        <!-- <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">(20 Review)</a>
                            </span> -->
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">{{ booking.package.time }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>

{% endblock %}