{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<div class="">
    <div class="">
        <img src="{% static 'img/banner/banner2.jpeg' %}" alt="" height=100% width=100%>
        <!-- <h3>Saintmartine Iceland</h3>
        <p>Pixel perfect design with awesome contents</p> -->
    </div>
</div>

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9">
                <div class="destination_info">
                    <h3>Bhaktapur Durbar Square</h3>
                    <div id="map" style="width:100%; height: 70vh"></div>
                    <p>Bhaktapur Durbar Square is the main attraction of the Bhaktapur city, which is the ancient royal palace. This palace is listed in UNESCO World Heritage List, which is located at 1,400m altitude. This durbar square is in Bhaktapur Municipality and is 13km away from Kathmandu city. There are four different areas in the palace complex i.e., Durbar area, Taumadhi area, Dattatreya area, and Pottery area. Among all these areas, this palace is still called the Durbar area. It is one of the most visited places of the Kathmandu valley. Bhaktapur Durbar Square is rich in both ancient history and culture, crafts, handicrafts, arts, and architecture. In ancient times, this palace was ruled by Malla kings.
                    </p>
                    <p>The Bhaktapur Durbar Square is surrounded by many lively architecture, temples, and idols. All those arts represent the Newari artists and craftsmen. The royal palace of Malla kings was originally located at Dattaray square, but later, it was moved to Durbar Square. Visitors will get captivated by the design of this building. The temples around this area like Taleju Bhawani and Temple are not allowed to get photographed.Bhaktapur Durbar Square is also a settlement area of Newar. It is their responsibility and duty to keep this heritage alive and sustainable. This durbar square is the identity of Nepalese, which shows our art, religion, funerals, culture, rituals, customs etc. </p>
                    <div class="single_destination">
                        <h4>Day 1: Kathmandu to Bhaktapur
                        </h4>
                        <p></p>
                    </div>
                    
                    <ul>
                        <li>
                            Fifty-Five Windows Palace
                            <p>Fifty-Five Windows Palace (Pachpanjhaley Durbar) was constructed by King  Bhupatindra Malla. He started the construction during his reign and the whole construction was completed during the reign of the son, Ranjit Malla in BS 1765.</p>
                        </li>
                        <li>
                            Vatsalya Devi Temple
                            <p>Another historical heritage in the Bhaktapur Durbar Square is the Vatsalya Devi Temple. The main goddess of this temple is Vatsalaya Devi. This temple is popular and famous for its large silver bells. According to the locals, after the big bell of the temple is rung, the dogs in the area bark and howl. This huge bell was installed in the temple by Malla king Ranjit Malla in BS 1737 and was rung to inform the daily prohibition. This bell is rung every morning while worshiping Taleju Bhagwati.</p>
                        </li>
                        <li>
                            Bhupatindra Malla’s Statue
                            <p>The statue of Bhupatindra Malla is considered as one of the most mesmerizing statues of this palace. This statue is located at the column that faces the palace</p>
                        </li>
                        <li>
                            Nyatapola Temple
                            <p>Nyatapola is derived from Newari language, which means five stories. This temple represents the perfect artistic beauty and is regarded as the highest pagoda temple in Nepal. The foundation of this temple is wider than its base. This temple is open only during Dashain festival. This temple is dedicated to the goddess Siddhi Laxmi. According to legend, the construction of this temple was completed after three generations. The statue of Goddess Siddhi Laxmi is made on the staircase of both sides as the guardians of this beautiful temple.</p>
                        </li>
                        <li>
                            Bhairavnath Temple
                            <p>This temple is dedicated to God Bhairav, which is regarded as the manifestation of lord Shiva.</p>
                        </li>
                        <li>
                            Golden Gate
                            <p>This gate was constructed by King Bhupatindra Malla. It is considered as one of the magnificent and rich arts in the entire world. The door is topped by the Hindu goddess Kali and Garuda. It is also decorated with Hindu monasteries and other distinct yet attractive creatures. This gate is the entrance to the courtyard of the fifty-five palaces. This gate was assembled by King Ranjit Malla, later.</p>
                        </li>
                        <li>
                            Lion’s Gate
                            <p>This masterpiece was built by craftsmen and on the completion of this gate, the hand of artisans was severed by the resentful king of Bhadgaon.
                            </p>
                        </li>
                        <li>
                            Mini Pashupati Temple
                            <p>This temple is dedicated to Lord Shiva, and it was built as per the dream of Bhadgaon King. It is like Pasupathi Temple but is small in size.</p>
                        </li>
                    </ul>
                </div>
                <div class="bordered_1px"></div>
                <div class="contact_join">
                    <h3>Contact us for package booking </h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Phone no.">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Address">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single_input">
                                    <textarea name="" id="" cols="30" rows="10"placeholder="Message" ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="submit_btn">
                                    <button class="boxed-btn4" type="submit">submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>More Places</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for booking in bookings %}
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="{{ booking.package.image_url }}" alt="" height="200" width="300">
                        <a href="#" class="prise">NRs. {{ booking.package.price }}</a>
                    </div>
                    <div class="place_info">
                        <a href="{{ booking.package.package_name_alias }}.html"><h3>{{  booking.destination  }}</h3></a>
                        <!-- <p>United State of America</p> -->
                        <!-- <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">(20 Review)</a>
                            </span> -->
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">{{ booking.package.time }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script>
    var map = L.map('map').setView([24.590, 83.9956], 9);
    mapLink = "<a href='http://openstreetmap.org'>OpenStreetMap</a>";
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: 'Leaflet &copy; ' + mapLink + ', contribution',
        maxZoom: 18
    }).addTo(map);
    L.Routing.control({
        waypoints: [
            L.latLng(27.68866, 85.33558),
            L.latLng(27.67245, 85.42823)
        ]
    }).on('routesfound', function(e) {
        var routes = e.routes;
        console.log(routes);
    }).addTo(map);

    // var taxiIcon = L.icon({
    //     iconUrl: 'img/taxi.png',
    //     iconSize: [70, 70]
    // })

    // var marker = L.marker([28.2380, 75.9956], {
    //     // icon: taxiIcon
    // }).addTo(map);

    // map.interactive(function(e) {
    //     console.log(e)
    // var newMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
</script>

{% endblock %}