{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="">
    <div class="">
        <img src="{% static 'img/banner/chitwan.jpeg' %}" alt="" height=100% width=100%>
        <!-- <h3>Saintmartine Iceland</h3>
        <p>Pixel perfect design with awesome contents</p> -->
    </div>
</div>

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9">
                <div class="destination_info">
                    <h3>Trip to chitwan</h3>
                    <p>Chitwan National Park is a preserved area in the Terai Lowlands of south-central Nepal, known for its biodiversity. Its dense forests and grassy plains are home to rare mammals like one-horned rhinos and Bengal tigers. The park shelters numerous bird species, including the giant hornbill. Dugout canoes traverse the northern Rapti River, home to crocodiles. Inside the park is Balmiki Ashram, a Hindu pilgrimage site. 
                    </p>
                    <p>Chitwan National Park is the first national park of Nepal. It was established in 1973 and was granted the status of a World Heritage Site in 1984. It covers an area of 952.63 km2 (367.81 sq mi) and it is located in the subtropical Inner Terai lowlands of south-central Nepal in the districts of Nawalpur, Parasi, Chitwan and Makwanpur. In altitude it ranges from about 100 m (330 ft) in the river valleys to 815 m (2,674 ft) in the Shivalik Hills.</p>
                    <div class="single_destination">
                        <h4>Day 1: Drive to Chitwan (Approx: 185 km/5 hrs drive)
                        </h4>
                        <p>An enjoyable and scenic five hours drive by car or private vehicle on the Prithvi highway connecting Chitwan with Kathmandu follows the Trishuli River and takes us through the Tharu Villages of Chitwan. The ethnic tribe of the Tharu’s are the local inhabitants of Chitwan and are agriculturists by profession. The drive finally brings us to the Tigerland Safari Resort.
                            Up on arrival at Tigerland Safari Resort the guests will be met and briefed by the Guest Relation officer regarding the park and the programs available. Lunch will be followed by a choice of activities arranged for you.
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 02: (IN CHITWAN)
                        </h4>
                        <p>Early morning guests will be mounted on elephant backs and taken for a jungle safari for 23 hours penetrating through dense grasslands to view wildlife in their natural habitat. This grass commonly known as elephant grass is dense and grows to a height of 1820 ft. It is the favorite habitat for rhinoceros and other mammals.
                        </p>
                        <p>After breakfast, you are taken to our elephant stables where a senior naturalist briefs about the interesting and unbelievable habits of elephants. Here one may witness the rare scene of the elephants at bath.</p>
                        <p>In the afternoon you may choose to relax around the resort or take a drive through the jungles in a four wheel drive jeep followed by a canoe ride down the Rapti River. The river ride provides an opportunity of viewing the gharial crocodiles as well as the mugger crocodiles, freshwater dolphins, otters and varieties of water birds. You may also feel like going for a nature walk or bird watching with one of our naturalists to know more about the flora of the Chitwan National Park. Those on canoe ride are taken back to the resort four wheel drive jeep from the end point.</p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 03: (CHITWAN/KATHMANDU DRIVE)
                        </h4>
                        <p>After breakfast in the morning, Chitwan is a bird paradise of resident and migratory birds, making it a delightful and educational experience for every bird watcher. Special bird watching tours can be arranged too.
                            Those who could not go for elephant safari on the day of arrival would go for elephant safari to penetrate deep into the jungle for viewing and photographing wildlife and those on a jungle walk can experience the abundant bird life and the flora and fauna of the park
                            Drive back to Kathmandu.                            
                        </p>
                    </div>
                    
                </div>
                <div class="bordered_1px"></div>
                <div class="contact_join">
                    <h3>Contact for join</h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Phone no.">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single_input">
                                    <textarea name="" id="" cols="30" rows="10"placeholder="Message" ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="submit_btn">
                                    <button class="boxed-btn4" type="submit">submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>More Places</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="img/place/1.png" alt="">
                        <a href="#" class="prise">$500</a>
                    </div>
                    <div class="place_info">
                        <a href="#"><h3>California</h3></a>
                        <p>United State of America</p>
                        <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">(20 Review)</a>
                            </span>
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">5 Days</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="img/place/2.png" alt="">
                        <a href="#" class="prise">$500</a>
                    </div>
                    <div class="place_info">
                        <a href="#"><h3>Korola Megna</h3></a>
                        <p>United State of America</p>
                        <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">(20 Review)</a>
                            </span>
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">5 Days</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="img/place/3.png" alt="">
                        <a href="#" class="prise">$500</a>
                    </div>
                    <div class="place_info">
                        <a href="#"><h3>London</h3></a>
                        <p>United State of America</p>
                        <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">(20 Review)</a>
                            </span>
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">5 Days</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}