{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<div class="cont">
    <div class="centered">
        <img src="{% static 'img/banner/banner3.jpeg' %}" alt="" height=100% width=100%>
        <!-- <h3>Saintmartine Iceland</h3>
        <p>Pixel perfect design with awesome contents</p> -->
    </div>
</div>

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9">
                <div class="destination_info">
                    <h3>Langtang trek</h3>
                    <div id="map" style="width:100%; height: 70vh"></div>
                    <p>Langtang trek is a trek with real heart. The Langtang Valley is one of the most beautiful places in Nepal and was once the darling of trekkers seeking stunning landscapes and authentic culture along with heartwarming hospitality in delightful homestay guest houses — all within easy reach of Kathmandu. 
                    </p>
                    <div class="single_destination">
                        <h4>Day 1: Welcome to Kathmandu!
                        </h4>
                        <p>As you fly into Kathmandu, you'll have beautiful views over the valley, the Himalaya, and of the terraced fields below. After going through customs, a representative will be waiting to guide you through the initial culture shock of Kathmandu’s narrow, winding streets and get you settled into your hotel.</p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 02: Kathmandu to SyabruBesi (1,460 m. / 4,790 ft.)
                        </h4>
                        <p>Leave Kathmandu early for the seven-hour journey to the Langtang Valley. The road climbs high over ridges as it leaves the Kathmandu Valley, and provides impressive views of the Annapurna Himalayas in the west, to Manaslu, Ganesh Himal and the peaks of the Langtang region ahead.
                        </p>
                        <p>We drive through the bustling town of Trisuli before climbing towards Dunche and the Langtang National Park. After the town of Dhunche it is another hour downhill to Syabru Besi and your lodge for the night.</p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 03: Trek to Lama Hotel (2,470 m. / 8,103 ft.)</h4>
                        <p>Sunset over a small river in Langtang Today’s trail crosses the Bhote Kosi — meaning ‘Tibet River’ — which flows from nearby Tibet. It then gradually climbs through sub-tropical forests to join the trail from Syabru Besi, then climbing through uninhabited oak and rhododendron forests. Look out for langur monkeys in the trees. The trail through the forest up to Lama Hotel becomes steep, but the reward is a comfortable bed in a cozy lodge in the small settlement. 
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 4 : Trek to Mundu (3,550 m. / 11,646 ft.)
                        </h4>
                        <p>The trail continues to climb through forest, with occasional glimpses of Langtang Lirung between the trees. At Ghora Tabela (3,000 m. / 9,842 ft) the trail emerges from the forest and the mountains loom on either side of the valley. Once there was a Tibetan resettlement project here, but now it is a Nepal Army post with no permanent inhabitants. The trail continues to climb gently and the valley widens, passing a few temporary settlements used by herders who bring their livestock to graze in the high pastures during the summer. You will probably glimpse your first yak if you haven’t already.   
                        </p>
                        <p>The next part of the trail is a somber reminder of the 2015 earthquake. Where Langtang village once was, with numerous lodges, there is now only a huge rock field. Spare a thought for the Nepalis and tourists who lost their lives here, and remember that your journey here will help support the survivors.</p>
                        <p>Mundu is just half an hour’s walk further on. The old houses here are a reminder of what all the villages once looked like in this valley. Most of the lodges and homes in this area are now built in a more modern style.
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 5: Trek to Kyangjin Gompa (3,800 m. / 12,467 ft.)</h4>
                        <p>From Mundu, the trail climbs gradually through yak pastures as the valley opens out further and the views become more extensive. After crossing several small streams and moraines, the trail reaches the settlement at Kyangjin. Here there is a small monastery and a government-operated cheese factory, which is a good place to stock up for lunch and afternoon snacks.
                        </p>
                        <p>As you will arrive by lunchtime there is time to take it easy in the afternoon or explore the area. If you are feeling energetic, head up the Valley towards Langshisha Kharka to see some of the amazing views</p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 6: Rest day in Kyangjin or climb Kyangjin Ri (4,850 m. / 15,912 ft.)
                        </h4>
                        <p>Today you can rest or explore the area. You can visit the monastery and the cheese factory, walk up the moraine to see the spectacular ice faces and tumbling glaciers of Langtang Lirung or ascend Kyangjin Ri directly behind the village, for a breath-taking panorama of the Langtang peaks.
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 7: Trek to Lama hotel</h4>
                        <p>From Kyangjin retrace the route you followed up the valley, following the Langtang Khola to Mundu village and on to Ghora Tabela. The descent will certainly be faster than the ascent. After lunch, continue the steep descent to Lama Hotel.
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 8: Trek to Syabru Besi/h4>
                        <p>Continue retracing your steps to Syabru Besi, enjoying the quiet forested hills. If you are feeling fit, take the spectacular route from Rimche via Sherpa Gaon to Syabru Besi; it will take much longer to reach the ultimate destination, but it’s a stunning detour.
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 9: Drive to Kathmandu</h4>
                        <p>
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 10: Depart Kathmandu</h4>
                        <p>Time to say farewell to Nepal. Enjoy your last moments in Kathmandu with breakfast in a café, a city stroll, and/or souvenir shopping. A representative will meet you at your hotel and drive you to the airport for your return flight home. It's good to be at the airport at least two hours prior to departure.
                        </p>
                    </div>
                </div>
                <div class="bordered_1px"></div>
                <div class="contact_join">
                    <h3>Contact us for package booking </h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Phone no.">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Address">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single_input">
                                    <textarea name="" id="" cols="30" rows="10"placeholder="Message" ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="submit_btn">
                                    <button class="boxed-btn4" type="submit">submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>More Places</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for booking in bookings %}
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="{{ booking.package.image_url }}" alt="" height="200" width="300">
                        <a href="#" class="prise">NRs. {{ booking.package.price }}</a>
                    </div>
                    <div class="place_info">
                        <a href="{{ booking.package.package_name_alias }}.html"><h3>{{  booking.destination  }}</h3></a>
                        <!-- <p>United State of America</p> -->
                        <!-- <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">(20 Review)</a>
                            </span> -->
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">{{ booking.package.time }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script>
    var map = L.map('map').setView([24.590, 83.9956], 9);
    mapLink = "<a href='http://openstreetmap.org'>OpenStreetMap</a>";
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: 'Leaflet &copy; ' + mapLink + ', contribution',
        maxZoom: 18
    }).addTo(map);
    L.Routing.control({
        waypoints: [
            L.latLng(27.68866, 85.33558),
            L.latLng(29.5303, 82.0864)
        ]
    }).on('routesfound', function(e) {
        var routes = e.routes;
        console.log(routes);
    }).addTo(map);

    // var taxiIcon = L.icon({
    //     iconUrl: 'img/taxi.png',
    //     iconSize: [70, 70]
    // })

    // var marker = L.marker([28.2380, 75.9956], {
    //     // icon: taxiIcon
    // }).addTo(map);

    // map.interactive(function(e) {
    //     console.log(e)
    // var newMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
</script>
{% endblock %}