{% extends "base.html" %}
{% load static %}
{% block content %}
<!doctype html>
<html class="no-js" lang="zxx">

<body>
	<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Login</h3>
                       <p class="sample-text">
							Every avid independent filmmaker has <b>Bold</b> about making that <i>Italic</i> interest documentary,
							or short</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- Start Align Area -->
	<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<div class="row">
					<div class="col-lg-8 col-md-8">
						<h3 class="mb-30">Login </h3>
						<p class="sample-text">
							 <b>Hello</b> <i>There!</i> </p>
               <form action="" method ='POST'>
                  {% csrf_token %}
							  <div class="mt-10">
								<input type="text" name="user_name" placeholder="Username"
									onfocus="this.placeholder = ''" onblur="this.placeholder = ' Name'" required
									class="single-input">
							  </div>
                  <div class="mt-10">
                  <input type="password" name="password" placeholder="Password"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required
                    class="single-input">
                    <section class="button-area">
                      <div class="container box_1170 border-top-generic">
                        <button type="submit" class="button button-contactForm boxed-btn">Login</button>
                      </div>
                      
                    </section>
                  
                </section>
                <div class="container box_1170 border-top-generic">
                  Create a new account<a href="registration.html" class="genric-btn link-border circle">Registration</a>
                </div>
                <!-- For Gradient Border Use -->
                <!-- <div class="mt-10">
                      <div class="primary-input">
                        <input id="primary-input" type="text" name="first_name" placeholder="Primary color" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary color'">
                        <label for="primary-input"></label>
                      </div>
                    </div> -->

						</form>
					</div>
					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Align Area -->

    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
    </script>
</body>
</html>
{% endblock %}