{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<div class="">
    <div class="">
        <img src="{% static 'img/banner/lumbini.jpeg' %}" alt="" height=100% width=100%>
        <!-- <h3>Saintmartine Iceland</h3>
        <p>Pixel perfect design with awesome contents</p> -->
    </div>
</div>

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9">
                <div class="destination_info">
                    <h3>Trip to Lumbini</h3>
                    <div id="map" style="width:100%; height: 70vh"></div>
                    <p>Lumbini, the Birthplace of the Lord Buddha Siddhartha Gautama, the Lord Buddha, was born in 623 B.C. in the famous gardens of Lumbini, which soon became a place of pilgrimage. Among the pilgrims was the Indian emperor Ashoka, who erected one of his commemorative pillars there. The site is now being developed as a Buddhist pilgrimage centre, where the archaeological remains associated with the birth of the Lord Buddha form a central feature.
                    </p>
                    <p>Lumbini is located in the south-central Terai of Nepal, situated in the foothills of the Himalayas. For millions of Buddhists the world over, it evokes a kind of holy sentiment akin to the significance of Jerusalem to Christians and Mecca to Muslims.
                    </p>
                    <div class="single_destination">
                        <h4>Day 1: Drive from Kathmandu / Pokhara to Lumbini. Overnight at Lumbini. 
                        </h4>
                        <p></p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 02: Explore Lumbini UNESCO Heritage site in Lumbini. </h4>
                        <p>
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 03: Drive from Lumbini to Tilaurakot, Explore Tilaurakot, and back to the hotel in Lumbini. </h4>
                        <p> 
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 4: Drive back to Kathmandu
                        </h4>
                        <p>   
                        </p>
                    </div>
                </div>
                <div class="bordered_1px"></div>
                <div class="contact_join">
                    <h3>Contact us for package booking </h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Phone no.">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Address">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single_input">
                                    <textarea name="" id="" cols="30" rows="10"placeholder="Message" ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="submit_btn">
                                    <button class="boxed-btn4" type="submit">submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>More Places</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for booking in bookings %}
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="{{ booking.package.image_url }}" alt="" height="200" width="300">
                        <a href="#" class="prise">NRs. {{ booking.package.price }}</a>
                    </div>
                    <div class="place_info">
                        <a href="{{ booking.package.package_name_alias }}.html"><h3>{{  booking.destination  }}</h3></a>
                        <!-- <p>United State of America</p> -->
                        <!-- <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">(20 Review)</a>
                            </span> -->
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">{{ booking.package.time }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script>
    var map = L.map('map').setView([24.590, 83.9956], 9);
    mapLink = "<a href='http://openstreetmap.org'>OpenStreetMap</a>";
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: 'Leaflet &copy; ' + mapLink + ', contribution',
        maxZoom: 18
    }).addTo(map);
    L.Routing.control({
        waypoints: [
            L.latLng(27.68866, 85.33558),
            L.latLng(27.4787, 83.2697)
        ]
    }).on('routesfound', function(e) {
        var routes = e.routes;
        console.log(routes);
    }).addTo(map);

    // var taxiIcon = L.icon({
    //     iconUrl: 'img/taxi.png',
    //     iconSize: [70, 70]
    // })

    // var marker = L.marker([28.2380, 75.9956], {
    //     // icon: taxiIcon
    // }).addTo(map);

    // map.interactive(function(e) {
    //     console.log(e)
    // var newMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
</script>
{% endblock %}