{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="">
    <div class="">
        <img src="{% static 'img/banner/mardi.jpeg' %}" alt="" height=100% width=100%>
        <!-- <h3>Saintmartine Iceland</h3>
        <p>Pixel perfect design with awesome contents</p> -->
    </div>
</div>

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9">
                <div class="destination_info">
                    <h3>Trip to Mardi Himal</h3>
                    <p>The Mardi Himal Trek is a short, newly opened route, moderate type and hidden treasure in the Annapurna region. Mardi Himal trek offers an imaging view of Annapurna, Dhaulagiri, Machhapuchhre and Manaslu ranges. Australian Camp, Pothana, Mardi Himal base camp, Siding village and Lwang are the major attractions of this trek. Nepal Hidden Treks organize a 5 days Mardi Himal Trek. 
                    </p>
                    <div class="single_destination">
                        <h4>Day 1: Pokhara - Australian Camp - Deurali
                        </h4>
                        <p>
                        After breakfast at your Hotel in Pokhara, you drive to Kande. From Kande, trek to Pitan Deurali (2100m) via Australian Camp (2060m) and Pothana (1950m). Pothana has ACAP / TIM’s checkpoint. About 4-5 hours walking, you will reach Pitan Deurali from Kande. And then overnight at Lodge.
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 02: Pitan Deurali -Forest Camp - Rest Camp - Low Camp</h4>
                        <p>Trek from Pitan Deurali to Low Camp (2985m). You will stop for lunch in Forest Camp (2600m) after about a 4 hour trekking. The trek from Pitan Deurali to Low Camp takes 7 hours walking), overnight at Lodge. 
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 03: Low Camp - High Camp.</h4>
                        <p> Trek from Low Camp to High (3550m). You will see spectacular views of Machhapuchhre ahead and Annapurna South to my left. After a 4 hours trek we arrived at High Camp (3550m). And then overnight at Lodge.
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 4 : Hike to Mardi Himal Base Camp and trek down to Badal Danda</h4>
                        <p>You will hike to Mardi Himal Base Camp (4500m) and back to High Camp. This round trip takes 4 to 5 hours. If you do not want to go all the way to Mardi Himal Base, you just hike to a viewpoint about half way and back to High Camp. After Lunch, trek down to Badal Danda (3210m) And then overnight at Lodge.
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 5: Badal Danda - Siding- Pokhara</h4>
                        <p>You will have a very nice view in the morning. After breakfast, you will trek down to Siding. It takes around 4 hours to trek.  After Lunch, 3 hours drive back to Pokhara, And then overnight at your own Hotel.
                        </p>
                    </div>
                </div>
                <div class="bordered_1px"></div>
                <div class="contact_join">
                    <h3>Contact us for package booking </h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Phone no.">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Address">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single_input">
                                    <textarea name="" id="" cols="30" rows="10"placeholder="Message" ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="submit_btn">
                                    <button class="boxed-btn4" type="submit">submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>More Places</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for booking in bookings %}
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="{{ booking.package.image_url }}" alt="" height="200" width="300">
                        <a href="#" class="prise">NRs. {{ booking.package.price }}</a>
                    </div>
                    <div class="place_info">
                        <a href="{{ booking.package.package_name_alias }}.html"><h3>{{  booking.destination  }}</h3></a>
                        <!-- <p>United State of America</p> -->
                        <!-- <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">(20 Review)</a>
                            </span> -->
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">{{ booking.package.time }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>

{% endblock %}