{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="">
    <div class="">
        <img src="{% static 'img/banner/mountain_climbing.jpeg' %}" alt="" height=100% width=100%>
        <!-- <h3>Saintmartine Iceland</h3>
        <p>Pixel perfect design with awesome contents</p> -->
    </div>
</div>

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9">
                <div class="destination_info">
                    <h3>Trip to Mardi Himal</h3>
                    <p>The Mardi Himal Trek is a short, newly opened route, moderate type and hidden treasure in the Annapurna region. Mardi Himal trek offers an imaging view of Annapurna, Dhaulagiri, Machhapuchhre and Manaslu ranges. Australian Camp, Pothana, Mardi Himal base camp, Siding village and Lwang are the major attractions of this trek. Nepal Hidden Treks organize a 5 days Mardi Himal Trek. 
                    </p>
                    <div class="single_destination">
                        <h4>Day 1: Pokhara - Australian Camp - Deurali
                        </h4>
                        <p></p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 02: </h4>
                        <p>
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 03: </h4>
                        <p> 
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 4 : </h4>
                        <p>   
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 5: </h4>
                        <p>
                        </p>
                    </div>
                </div>
                <div class="bordered_1px"></div>
                <div class="contact_join">
                    <h3>Contact for join</h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Phone no.">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single_input">
                                    <textarea name="" id="" cols="30" rows="10"placeholder="Message" ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="submit_btn">
                                    <button class="boxed-btn4" type="submit">submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>More Places</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for booking in bookings %}
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="{{ booking.package.image_url }}" alt="" height="200" width="300">
                        <a href="#" class="prise">NRs. {{ booking.package.price }}</a>
                    </div>
                    <div class="place_info">
                        <a href="{{ booking.package.package_name_alias }}.html"><h3>{{  booking.destination  }}</h3></a>
                        <!-- <p>United State of America</p> -->
                        <!-- <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">(20 Review)</a>
                            </span> -->
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">{{ booking.package.time }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>

{% endblock %}