{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="">
    <div class="">
        <img src="{% static 'img/banner/video.jpeg' %}" alt="" height=100% width=100%>
        <!-- <h3>Saintmartine Iceland</h3>
        <p>Pixel perfect design with awesome contents</p> -->
    </div>
</div>

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9">
                <div class="destination_info">
                    <h3>Mustang</h3>
                    <p>Mustang is one of the beautiful places located in the Kali Gandaki valley of the Himalayan region of Western Nepal. Jomsom is the district headquarter of Mustang. It is also known as “Land beyond the Himalayas.”
                    </p>
                    <p>The world’s deepest glut that goes down three miles vertically between Dhaulagiri and Annapurna mountains runs through this area. One of the major highlights of the Mustang tour is the Muktinath temple. The Muktinath temple is one of the holy places for both Hindus and Buddhists. It is believed that by taking a sacred plunge within the lakes and showering under the 108 water tabs at Muktinath Temple, one can clean all the negative karma, bring salvation (Moksha), and satisfy wishes. 
                    </p>
                    <div class="single_destination">
                        <h4>Day 1: Drive from Kathmandu to Pokhara 
                        </h4>
                        <p>We start the journey from Kathmandu. We travel through Prithivi Highway and then cross the Narayani River to Pokhara. After reaching there, you will have dinner there and stay overnight. We start the journey from Kathmandu. We travel through Prithivi Highway and then cross the Narayani River to Pokhara. After reaching there, you will have dinner there and stay overnight. </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 02: Drive from Pokhara to Kagbeni </h4>
                        <p>The journey continues from Pokhara to Kag Beni via Beni, Tatopani, Kalo Pani, tupche, Marpha, Jomsom. Here you will see the world’s deepest Kali Gandaki river, the beautiful apple garden of Marpha.
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 03: Drive from Kagbeni to Ghami village.</h4>
                        <p> We will drive to Ghami town at first, going to Buddhist stupas and monasteries crossing by means of Kali Gandaki river and towns like Chella village, Samar village, Syangboche village, Bhina village Ghiling and then to Ghami.
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 4 : Drive from Lo-manthang to  Muktinath</h4>
                        <p>On this day, the tour continues with driving from Lo-manthang to Muktinath. Here you will be exploring the Muktinath temple and its sites.     
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 5: Drive from Muktinath to Tatopani 
                        </h4>
                        <p>On this day, you will drive back to Tatopani from Muktinath. Here you can have a natural hot bath in the pond. It is believed to heal and remove negative karmas. On the point of health, it is also considered to be helpful in keeping the body healthy.
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 6: Drive back to Pokhara and go sightseeing around Pokhara</h4>
                        <p>This is the last day of the trip. Heer visitors can enjoy the hypnotizing views of the Machhapuchhre and Annapurna ranges. And after having breakfast, we will visit around and explore Phewa Lake, Gupteshwor Cave, David falls, and Shanti stupa.
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 7: Drive to Kathmandu </h4>
                        <p>This is the final day of the trip. After arriving in Kathmandu, our team will transfer you to Tribhuvan International Airport and wish you a safe journey back to your home.
                        </p>
                    </div>
                </div>
                <div class="bordered_1px"></div>
                <div class="contact_join">
                    <h3>Contact for join</h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Phone no.">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single_input">
                                    <textarea name="" id="" cols="30" rows="10"placeholder="Message" ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="submit_btn">
                                    <button class="boxed-btn4" type="submit">submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>More Places</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="img/place/1.png" alt="">
                        <a href="#" class="prise">$500</a>
                    </div>
                    <div class="place_info">
                        <a href="#"><h3>California</h3></a>
                        <p>United State of America</p>
                        <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">(20 Review)</a>
                            </span>
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">5 Days</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="img/place/2.png" alt="">
                        <a href="#" class="prise">$500</a>
                    </div>
                    <div class="place_info">
                        <a href="#"><h3>Korola Megna</h3></a>
                        <p>United State of America</p>
                        <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">(20 Review)</a>
                            </span>
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">5 Days</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="img/place/3.png" alt="">
                        <a href="#" class="prise">$500</a>
                    </div>
                    <div class="place_info">
                        <a href="#"><h3>London</h3></a>
                        <p>United State of America</p>
                        <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">(20 Review)</a>
                            </span>
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">5 Days</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}