{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="">
    <div class="">
        <img src="{% static 'img/banner/pokhara.jpeg' %}" alt="" height=100% width=100%>
        <!-- <h3>Saintmartine Iceland</h3>
        <p>Pixel perfect design with awesome contents</p> -->
    </div>
</div>

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9">
                <div class="destination_info">
                    <h3>Trip to Pokhara</h3>
                    <p>Pokhara is a city on Phewa Lake, in central Nepal. It’s known as a gateway to the Annapurna Circuit, a popular trail in the Himalayas. Tal Barahi Temple, a 2-story pagoda, sits on an island in the lake. On the eastern shore, the Lakeside district has yoga centers and restaurants. In the city’s south, the International Mountain Museum has exhibits on the history of mountaineering and the people of the Himalayas. 
                    </p>
                    <p>Pokhara is the second largest city in Nepal, after Kathmandu. The town is about 200 kilometers away from Kathmandu, to the west. It rests at the foot of the Annapurna range and is a favorite trekking starting point. The city of Pokhara can be divided in two - the charming Lakeside Pokhara, and the Old City. The Lakeside part offers many tourist attractions and beautiful views, while the Old City is the commercial hub of Pokhara. You can choose to stay in either location, although we recommend Lakeside. The Lakeside is further divided into the North and the Southside. Lakeside is named so, as it surrounds the Phewa Lake or the Phewa Tal, a gorgeous freshwater lake which is eerily similar to a mirror! The lake gained popularity for its breathtaking reflection of the blue skies and the towering Mt. Machhapuchhre of the Annapurna range.</p>
                    <div class="single_destination">
                        <h4>Day 1: Transfer from Kathmandu to Pokhara by Private vehicle
                        </h4>
                        <p>On the way, stop at Kurintar and visit Manakamana Temple by cable car. You can stop anywhere for your breakfast and Lunch.
                            You will arrive in Pokhara in the afternoon.
                            After refreshment, visit David Falls, Gupteshwor Cave & Temple then World Peace Pagoda.                            
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 02: Full day Sightseeing in Pokhara and enjoy boating in Phewa Lake & Visit Tal Barahi Temple </h4>
                        <p>Today is a special day to visit amazing tourist places in Pokhara.
                            Early morning drive to Sarangkot Sunrise & Mountain View Point. Drive back and have breakfast.
                            After Breakfast, drive for sightseeing Seti Gorge, Bat Cave, Bindhyabasini Temple, Mountaineering Museum, old Market Places and Bhimsen Temple.
                            Evening enjoy boating in Phewa Lake and visit Tal Barahi Temple (situated in the middle of the Phewa Lake).
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 03: Drive back to Kathmandu</h4>
                        <p>
                            Today, pack your baggage and drive to Kathmandu watching the superb Annapurna Mountain, green hill, crossing the rivers and beautiful villages. You will get to Kathmandu in the afternoon.                             
                        </p>
                    </div>
                </div>
                <div class="bordered_1px"></div>
                <div class="contact_join">
                    <h3>Contact us for package booking </h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Phone no.">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Address">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single_input">
                                    <textarea name="" id="" cols="30" rows="10"placeholder="Message" ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="submit_btn">
                                    <button class="boxed-btn4" type="submit">submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>More Places</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for booking in bookings %}
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="{{ booking.package.image_url }}" alt="" height="200" width="300">
                        <a href="#" class="prise">NRs. {{ booking.package.price }}</a>
                    </div>
                    <div class="place_info">
                        <a href="{{ booking.package.package_name_alias }}.html"><h3>{{  booking.destination  }}</h3></a>
                        <!-- <p>United State of America</p> -->
                        <!-- <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">(20 Review)</a>
                            </span> -->
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">{{ booking.package.time }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>

{% endblock %}