{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
<div class="cont">
    <div class="centered">
        <img src="{% static 'img/banner/banner.jpg' %}" alt="" height=100% width=100%>
        <!-- <h3>Saintmartine Iceland</h3>
        <p>Pixel pxerfect design with awesome contents</p> -->
    </div>
</div>

<div class="destination_details_info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-9">
                <div class="destination_info">
                    <h3>Trip to Rara</h3>
                    <div id="map" style="width:100%; height: 70vh"></div>
                    <p>Rara is Nepal's deepest freshwater lake. Situated at an altitude of 2,990 metres and spread across 10.8 square kilometres in Jumla and Mugu districts, it frequently makes it to the top of most-beautiful-sites-to-visit-in-Nepal lists. One can make a trip to Rara in spring, autumn or summer.
                    </p>
                    <p>Rara, nicknamed the Queen of Lakes in Nepal, is acknowledged for its spellbinding scenic beauty. Words are not enough to describe the mesmerizing natural beauty of Rara lake; rather, only a visit to eyewitness this gift from heaven can quench the thirst of Rara. The realm of Rara showcases its unique splendor changing hues several times in a single day. Usually, the deep blue hue of the lake amazes onlookers, making them forgetful of all the obstruction endured en route to Rara.
                    </p>
                    <div class="single_destination">
                        <h4>Day 01: Kathmandu to Kohalpur (11 Hours)
                        </h4>
                        <p>Kathmandu to Kohalpur is a comfortable 11 hours drive. There are many hotels around the town as per your budget category. Overnight at Kohalpur. </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 02: Drive Kohalpur to Manma, headquarter of Kalikot district</h4>
                        <p>Start driving early in the morning. Manma to Sukhet is around 2.5 HRS drive which is around 100 KM. And Surkhet to Manma, Kalikot is around 150 KM which takes a full day to reach there.  If we skip a few places then overall the road condition is quite good. This is one the scenic drive of your journey where you will be traveling through SAL forest.
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 03: Manma to Rara Lake via Sija and Nagma</h4>
                        <p>Start driving early in the morning. It is only around 20 min drive from Nagma and the road starts rough non paved till Rara Lake. Now you will be traveling by the Karnali river for 4 hrs and then through the village and Sallaha forest. After a 20 min drive from Talcha Airport one small cottage can be seen where you need to park your vehicle and walk for 30 min to reach the lake. For seeing the lake this is enough but if you want to stay on the bank of the lake and enjoy the spectacular view of the lake then you need to walk approx 1.5 hrs by the edge of the lake and you will reach the hotel which lies on the bank of Lake. You also have the option to fix a tent at the bank of Lake. 
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 4 : Full day Exploring the Lake</h4>
                        <p>Early morning breakfast and taking boat to explore the lake is a wise idea. It cost only Rs 500 per person for the long distance sightseeing by boat. In the daytime you can hike up to the hill where you can see the best view of the lake. Hiking to Murma top is an excellent experience to view Rara Lake, Mountains and surrounding hills of far western Nepal. On your on the way back, visit Murma village. Only one typical local village nearby the Lake.   
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 5: Rara Lake to Manma</h4>
                        <p>Return to Manma, Kalikot by the same route as you went to rara the day before yesterday. Overnight in Manma, Kalikot.  
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 6: Manma to Kolhapur/Surkhet</h4>
                        <p>Start your day early in the morning where you can find many places to have tea rest. If you start your day at 6 AM then you can easily reach Kohalpur on the same day otherwise you will be staying in Surkhet.  
                        </p>
                    </div>
                    <div class="single_destination">
                        <h4>Day 7: Kohalpur to Kathmandu</h4>
                        <p>It is the same way back to Kathmandu. Option to drop you to Pokhara.   
                        </p>
                    </div>
                </div>
                {% comment %} <div class="bordered_1px"></div> {% endcomment %}
                <form class="" action="/cart" method="GET">
                    <button id="" type="submit" class="genric-btn info circle"><i class=""></i> Add to cart</button>
                </form>
                <!-- <div class="contact_join">
                    <h3>Contact us for package booking </h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Phone no.">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Address">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_input">
                                    <input type="text" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single_input">
                                    <textarea name="" id="" cols="30" rows="10"placeholder="Message" ></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="submit_btn">
                                    <button class="boxed-btn4" type="submit"><a href="submit_demo.html">submit</a></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>More Places</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for booking in bookings %}
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="{{ booking.package.image_url }}" alt="" height="200" width="300">
                        <a href="#" class="prise">NRs. {{ booking.package.price }}</a>
                    </div>
                    <div class="place_info">
                        <a href="{{ booking.package.package_name_alias }}.html"><h3>{{  booking.destination  }}</h3></a>
                        <!-- <p>United State of America</p> -->
                        <!-- <div class="rating_days d-flex justify-content-between">
                            <span class="d-flex justify-content-center align-items-center">
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i> 
                                 <i class="fa fa-star"></i>
                                 <a href="#">(20 Review)</a>
                            </span> -->
                            <div class="days">
                                <i class="fa fa-clock-o"></i>
                                <a href="#">{{ booking.package.time }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script>
    var map = L.map('map').setView([24.590, 83.9956], 9);
    mapLink = "<a href='http://openstreetmap.org'>OpenStreetMap</a>";
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: 'Leaflet &copy; ' + mapLink + ', contribution',
        maxZoom: 18
    }).addTo(map);
    L.Routing.control({
        waypoints: [
            L.latLng(27.68866, 85.33558),
            L.latLng(29.5303, 82.0864)
        ]
    }).on('routesfound', function(e) {
        var routes = e.routes;
        console.log(routes);
    }).addTo(map);

    // var taxiIcon = L.icon({
    //     iconUrl: 'img/taxi.png',
    //     iconSize: [70, 70]
    // })

    // var marker = L.marker([28.2380, 75.9956], {
    //     // icon: taxiIcon
    // }).addTo(map);

    // map.interactive(function(e) {
    //     console.log(e)
    // var newMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
</script>

{% endblock %}